In [3]:
import numpy as np
y_pred=np.array([1,1,0,0,1])
y_truth=np.array([0.3,0.7,1,0,0.5])

In [5]:
print(y_pred)

[1 1 0 0 1]

In [10]:
def mae(y_pred,y_truth):
    total=0
    for i,j in zip(y_pred,y_truth):
        total+=abs(j-i)
    print("Error is: ",total)
    l=total/len(y_truth)
    print("MAE is: ",l)
    return l

In [12]:
mae(y_pred,y_truth)

Error is:  2.5
MAE is:  0.5

0.5

In [15]:
np.mean(np.abs(y_pred-y_truth))

0.5

In [17]:
np.log([0.00000000001])

array([-25.32843602])

In [19]:
epsilon=1e-15

In [22]:
new=[max(i,epsilon) for i in y_pred]        #replaces the lower values by epsilon
new

[1, 1, 1e-15, 1e-15, 1]

In [25]:
new1=[min(i,1-epsilon) for i in y_pred]    #replaces the higher values by 1-epsilon
new1

[0.999999999999999, 0.999999999999999, 0, 0, 0.999999999999999]

In [27]:
-np.mean(y_truth*np.log(new)+(1-y_truth)*np.log(1-new))

TypeError: unsupported operand type(s) for -: 'int' and 'list'

In [ ]:
#BELOW PROGRAM IS THE PROGRAM FOR THE MEAN SQUARE ERROR BY NORMAL PYTHON PROCESS AND NUMPY PROCESS

In [32]:
def mse(y_pred,y_truth):
    total=0
    for i,j in zip(y_pred,y_truth):
        n=abs(j-i)*abs(j-i)
        total+=n
    print("MSE IS: ",total)
    t=total/len(y_truth)
    print("MSE IS: ",t)

In [34]:
mse(y_pred,y_truth)

MSE IS:  1.83
MSE IS:  0.366

In [36]:
p=np.abs(y_pred-y_truth)*np.abs(y_pred-y_truth)
np.mean(p)

0.366